.form-check-input.is-valid ~ .form-check-label,
.was-validated .form-check-input:valid ~ .form-check-label {
  color: $font-color;
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  background-color: #fff;
  color: #212529;
  font-size: 1rem;
  border: none;
}
